body{
    display: flex;
    align-items: center;
    padding: 50px;
    flex-direction: column;
    height: max-content;
    border: solid 2px black;
}

.container {
    padding: 20px;
    border: solid 2px orange;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputField {
    padding: 10px;
    width: 100%;
    border: solid 2px green;
    /* margin-left: 100px; */
}

.todos {
    padding: 10px;
    width: 100%;
    border: solid 2px red;
}
